<div id="menu" class="ui vertical inverted sidebar menu" style="">
  <div class="item">
    <a href="/" class="ui logo icon image">
      <img src="/images/learn-logo.png">
    </a>
    <a href="/">
      <b>Learn Semantic</b>
    </a>
  </div>
  <div class="item">
    <div class="ui small inverted header">
      <b>Preface</b>
    </div>
    <div class="menu">
      <a href="/preface/introduction.html" class="item">
        Introduction
      </a>
<!--         <div href="/preface/language.html" class="disabled item">
        On Language
      </div> -->
      <a href="/preface/whats-different.html" class="item">
        What's Different
      </a>
    </div>
  </div>
  <div class="item">
    <div class="ui small inverted header">
      <b>Getting Started</b>
    </div>
    <div class="menu">
      <a href="/guide/download.html" class="item">
        Download
      </a>
      <a href="/guide/expert.html" class="item">
        Getting Started
      </a>
      <div href="/guide/beginner.html" class="disabled item">
        Beginner's Guide
      </div>
      <!--
      <a href="/guide/expert.html" class="item">
        Expert Guide
      </a> -->
    </div>
  </div>
  <div class="item">
    <div class="ui small inverted header">
      <b>Developing</b>
    </div>
    <div class="menu">
      <a href="/developing/customizing.html" class="item">
        Customizing
      </a>
      <a href="/developing/glossary.html" class="item">
        Glossary
      </a>
<!--         <div href="/developing/extending.html" class="disabled item">
        Extending
      </div>
      <div href="/developing/best-practices.html" class="disabled item">
        Best Practices
      </div>
      <div href="/developing/faq.html" class="disabled item">
        FAQ
      </div>
      <div href="/developing/support.html" class="disabled item">
        Getting Support
      </div> -->
    </div>
  </div>
  <div class="item">
    <div class="ui small inverted header">
      <b>Theming</b>
    </div>
    <div class="menu">
      <a href="/themes/overview.html" class="item">
        Overview
      </a>
      <a href="/themes/creating.html" class="item">
        Creating Themes
      </a>
    </div>
  </div>
  <div class="item">
    <div class="ui small inverted header">
      <b>Definitions</b>
    </div>
    <div class="menu">
      <a href="/definitions/overview.html" class="item">
        Overview
      </a>
      <!--
      <a href="/definitions/how-to-read.html" class="item">
        How to Read
      </a>
      <div href="/definitions/elements.html" class="disabled item">
        Elements
      </div>
      <div href="/definitions/collections.html" class="disabled item">
        Collections
      </div>
      <div href="/definitions/views.html" class="disabled item">
        Views
      </div>
      <div href="/definitions/modules.html" class="disabled item">
        Modules
      </div>
      <div href="/definitions/behaviors.html" class="disabled item">
        Behaviors
      </div>
      -->
    </div>
  </div>
  <!--
  <div class="item">
    <div class="ui small inverted header">
      <b>Conventions</b>
    </div>
    <div class="menu">
      <div href="/conventions/css.html" class="disabled item">
        CSS
      </div>
      <div href="/conventions/classnames.html" class="disabled item">
        Class Names
      </div>
      <div href="/conventions/html.html" class="disabled item">
        HTML
      </div>
      <div href="/conventions/javascript.html" class="disabled item">
        Javascript
      </div>
      <div href="/conventions/terms.html" class="disabled item">
        Terms Glossary
      </div>
      <div href="/conventions/variables.html" class="disabled item">
        Variables
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui small inverted header">
      <b>Semantic Project</b>
    </div>
    <div class="menu">
      <div href="/project/author.html" class="disabled item">
        About the Author
      </div>
      <div href="/project/contributing.html" class="disabled item">
        Contributing
      </div>
      <div href="/project/donating.html" class="disabled item">
        Donating
      </div>
    </div>
  </div> -->
</div>